---
import Layout from '../layouts/Layout.astro';
import DashboardPage from '../components/dashboard/DashboardPage.vue';
import "../styles/global.css";
---

<Layout>
	<main class="min-h-screen bg-gray-50">
		<DashboardPage client:load />
	</main>
</Layout>
