---
import Layout from '../../layouts/Layout.astro';
import ProjectDetailPage from '../../components/projects/ProjectDetailPage.vue';
import "../../styles/global.css";

const { id } = Astro.params;

// Validate that we have an ID
if (!id) {
  return Astro.redirect('/');
}
---

<Layout>
  <main class="min-h-screen bg-gray-50">
    <ProjectDetailPage client:load projectId={id} />
  </main>
</Layout>
