---
import { Toaster } from '@/components/ui/sonner';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Project Manager</title>
	</head>
	<body>
		<slot />
		<Toaster 
			richColors 
			closeButton 
			position="top-right" 
			expand={false} 
			toastOptions={{
				duration: 4000
			}}
		/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
